.footerGeneral {
  background-color: #000;
  color: #fff;
  border-top-right-radius: 40px;
  padding: 40px 0;

  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; */
}
